
    @media (max-width: 992px) {
    .mobhide {
      display: none !important;
    }
  }
  
    @media (min-width: 992px) {
      .deskhide {
        display: none !important;
      }
    }
  
body{
  background-color: rgb(18, 194, 18);  
}
  