
   
   
   
   
   
   
   @media (max-width: 992px) {
    .mobhide {
      display: none !important;
    }
  }
  
    @media (min-width: 992px) {
      .deskhide {
        display: none !important;
      }
    }
  
html{
  background-color: rgb(255, 255, 255);
  color: rgb(2, 105, 2) !important;
}
  
@font-face {
  font-family: 'coolveticaregular' !important;
  src: url('/static/font/coolvetica_rg-webfont.woff2') format('woff2'),
       url('/static/font/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Scrollbar*/
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: solid 2px;
  border-color: rgb(2, 105, 2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

body {
  font-family: 'coolveticaregular', Fallback, sans-serif;
}

.wipfooter{
  position:fixed;
  bottom:0;
}

.desknav{
  color: rgb(0, 105, 0) !important;
  font-size: 1.2em !important;
}

#mobilenav {
  position: fixed;
  bottom: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.textcol{
  color: rgb(0, 105, 0) !important;
}