<head>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<meta charset=“UTF-8”>
<meta name="Description" content="A website by Ruaridh Mollica about Ruaridh Mollica">
<link rel="stylesheet" href="CSS/normalize-8.0.1.min.css" />
<link href="fontawesome/css/all.min.css" rel="stylesheet" />
<link href="CSS/mdb.min.css" rel="stylesheet" />
<link rel="stylesheet" href="CSS/main.css" />
<link rel="apple-touch-icon" href="img/favicon.png">
<link rel="icon" href="img/favicon.png" />
<link href="CSS/jquery-cron.css" rel="stylesheet" />
<link href="CSS/jquery-gentleSelect.css" rel="stylesheet" />
<link href="CSS/bootstrap.min.css" rel="stylesheet" />
<title>Trail</title>
</head>