<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body writeit-autostart>
{{template "nav.html"}}


<div class = "mobhide">
    <!--GREETING AND FACT DESKTOP-->
    <div class = "pt-4 textcol justify-content-center d-flex align-items-center mobhide">
        <p writeit-animate id="greeting" class="mobhide"></p>
    </div>
    <div class= "container fact justify-content-center d-flex align-items-center mobhide">
        <p id="fact" class="mobhide"></p>
    </div>
    <hr class="justify-content-center hr" style="width: 65%;">
    <!--/GREETING AND FACT DESKTOP-->
</div>

<div class = "deskhide">
    <!--GREETING AND FACT MOBILE-->
    <div class= "pl-3 pt-2 pb-0 mb-0 textcolmob d-flex align-items-center deskhide">
        <p writeit-animate id="greeting2" class="deskhide"></p>
    </div>
    <div class= "pl-3 pt-0 mt-0 pb-0 factmob d-flex align-items-center deskhide">
        <p id="fact" class="deskhide">
            Did you know that Heriot-Watt University has over 200 species of tree on campus?</p>
    </div>
    <hr class="justify-content-center hr pt-0" style="width: 85%;">
    <!--/GREETING AND FACT MOBILE-->
</div>








{{template "mobnav.html"}}
    <script>
        var myDate = new Date();
        var hrs = myDate.getHours();
      
        var greet;
      
        if (hrs < 12)
          greet = 'Good Morning';
        else if (hrs >= 12 && hrs <= 16)
          greet = 'Good Afternoon';
        else if (hrs >= 16 && hrs <= 24)
          greet = 'Good Evening';
      
        document.getElementById('greeting').innerHTML = greet;
        document.getElementById('greeting2').innerHTML = greet;
      </script>
    {{template "scripts.html"}}
      <script>
        var json = (function() {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': "/static/facts.json",
                'dataType': "json",
                'success': function(data) {
                json = data;
                }
            });
            return json;
            })();
      let randomIndex = Math.floor(Math.random() * 25)
      document.getElementById('fact').innerHTML = json[randomIndex];
      </script>
</body>
{{template "footer.html"}}