<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>

<div class= "justify-content-center d-flex">
    <h1> Work in Progress </h1>
    <h2 id="greeting"></h2>
</div>

    <script>
        var myDate = new Date();
        var hrs = myDate.getHours();
      
        var greet;
      
        if (hrs < 12)
          greet = '<i class="fas fa-sun"></i> Good Morning';
        else if (hrs >= 12 && hrs <= 17)
          greet = '<i class="fas fa-mug-hot"></i> Good Afternoon';
        else if (hrs >= 17 && hrs <= 24)
          greet = '<i class="fas fa-cloud-moon"></i> Good Evening';
      
        document.getElementById('greeting').innerHTML = greet;
      </script>
</body>
{{template "scripts.html"}}
{{template "footer.html"}}