<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
{{template "nav.html"}}

<div class="mobhide" id="themap"></div>

<div class="pl-0 pt-0 textcolmob justify-content-center wipfooter d-flex align-items-center deskhide">
    <iframe class="deskhide" src="https://www.google.com/maps/d/embed?mid=19nWUrSIbzzyBa13LxIAP9qG9gtUs8Kwv" width="1000" height="500"></iframe>
</div>
{{template "mobnav.html"}}




{{template "scripts.html"}}
<script>
    var navTitle = '{{.navtitle}}';
    document.getElementById('navtitle').innerHTML = navTitle;
    document.getElementById('navtitle2').innerHTML = navTitle;
</script>

<!--Generate the map for the page using the Google My Maps JavaScript API-->
<script>
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("themap"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 8,
  });
}
</script>
</body>
{{template "footer.html"}}