<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
{{template "nav.html"}}

<div class="pl-3 pt-4 textcol justify-content-center wipfooter d-flex align-items-center mobhide">
    <iframe class="mobhide"src="https://www.google.com/maps/d/embed?mid=19nWUrSIbzzyBa13LxIAP9qG9gtUs8Kwv" width="1500" height="700"></iframe>
</div>
<div class="pl-0 pt-0 textcolmob justify-content-center wipfooter d-flex align-items-center deskhide">
    <iframe class="deskhide"src="https://www.google.com/maps/d/embed?mid=19nWUrSIbzzyBa13LxIAP9qG9gtUs8Kwv" width="1000" height="500"></iframe>
</div>
{{template "mobnav.html"}}




{{template "scripts.html"}}
<script>
    var navTitle = '{{.navtitle}}';
    document.getElementById('navtitle').innerHTML = navTitle;
    document.getElementById('navtitle2').innerHTML = navTitle;
</script>
</body>
{{template "footer.html"}}