<nav class="navbar navbar-expand-lg navbar-light bg-light mobilnav deskhide">
    <div class="container-fluid">
      <button
        class="navbar-toggler mobhide"
        type="button"
        data-mdb-toggle=""
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="mobilnav deskhide" id="navbarNavAltMarkup">
        <div class="navbar-nav row">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/tour">Tour</a>
          <a class="nav-link" href="/map">Map</a>
          <a class="nav-link " href="/scan" tabindex="-1">Scan</a
          >
        </div>
      </div>
    </div>
  </nav>
