<footer>
    <nav class="navbar  navbar-light bg-light desknav mobilnav deskhide">
      <div class="container mobilnav">
        <div class="container navbar-nav justify-content-center align-items-center d-flex flex-row mobnav">
                <a class="nav-link active pl-3 pr-4 pt-0 pb-0 col" aria-current="page" href="/"><i class="fas fa-home black-text"></i></a>
                <a class="nav-link pl-4 pr-4 pt-0 pb-0 col" href="/tour"><i class="fas fa-tree black-text"></i></a>
                <a class="nav-link pl-4 pr-4 pt-0 pb-0 col" href="/map"><i class="fas fa-map black-text"></i></a>
                <a class="nav-link pl-4 pr-4 pt-0 pb-0 " href="/scan"><i class="fas fa-qrcode black-text"></i></a>
        </div>
        <div class="container navbar-nav justify-content-center align-items-center d-flex flex-row mobnav">
            <a class="nav-link active pl-3 pr-4 pt-0 pb-0 caption col" aria-current="page" href="/">Home</a>
            <a class="nav-link pl-4 pr-4 pt-0 pb-0 ml-1 caption col" href="/tour">Tour</a>
            <a class="nav-link pl-4 pr-4 pt-0 pb-0 ml-3 caption col" href="/map">Map</i></a>
            <a class="nav-link pl-4 pr-2 pt-0 pb-0 mr-4 caption col" href="/scan">Scan</i></a>
        </div>
        </div>
    </nav>
</footer>