<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mobhide desknav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Trail</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/tour">Tour</a>
          <a class="nav-link" href="/map">Map</a>
          <a class="nav-link " href="/scan" tabindex="-1">Scan</a
          >
        </div>
      </div>
    </div>
  </nav>
  </header>  