<header>
    <nav class="navbar navbar-expand-lg navbar-dark default-color">
      <!-- Additional container -->
      <div class="container">
        <!-- Collapse button -->
  
  
        <a onclick="history.back()" class="back-button">
          <i class="fas fa-angle-left"></i></a>
  
        <a onclick="history.back()" class="back-button">
          <i class="fas fa-times"></i></a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent41"
          aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar brand and Login Button -->
        <div class="deskhide">
          <a class="navbar-brand pt-2" href="#"><strong><!--{{.NavTitle}}--> Title</strong></a>
          <a class="navbar-brand pl-2" href="/dashboard"><img src="/img/iglu-light.svg" class="svghover" alt="iglü"
              width="50"></a>
        </div>
        <a class="navbar-brand mobhide pl-lg-4" id="brand" href="/dashboard"><img src="/img/iglu-light.svg"
            class="svghover" alt="iglü" width="50"></a>
  
  
  
        <div class="nav deskhide">
          <div class="nav-item dropdown avatar">
            <a class="nav-link p-0" id="navbarDropdownMenuLink-333"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mb-0 fa-sign-out-alt z-depth-0"
                alt="avatar image" height="45" width="45">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="/internal_accounts">Switch Accounts</a>
              <a class="dropdown-item" href="/settings/accounts">Edit Accounts</a>
              <a class="dropdown-item" href="/settings/">Settings</a>
              <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-rotate-180"></i> Log Out
              </a>
            </div>
          </div>
        </div>
  
        <!-- Collapsible content -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent41">
          <!-- Links -->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item nav-rounded">
              <a class="nav-link nav-rounded" href="/dashboard">Dashboard <i class="fas fa-tachometer-alt"></i></a>
            </li>
            <li class="nav-item nav-rounded">
              <a class="nav-link nav-rounded" href="/rooms">Rooms <i class="fas fa-bed"></i></a>
            </li>
            <li class="nav-item nav-rounded">
              <a class="nav-link nav-rounded" href="/overview">Overview <i class="far fa-eye"></i></a>
            </li>
          </ul>
          <!-- Links -->
  
          <ul class="navbar-nav mobhide">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light"
                href="">
                <i class="fa fa-plus"></i></a>
            </li>
            <ul class="navbar-nav mobhide">
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/alerts"> <i class="far fa-bell"></i></a>
              </li>
              <li class="nav-item dropdown avatar">
                <a class="nav-link p-0" id="navbarDropdownMenuLink-444" >
                  <i class="mb-0 fa-sign-out-alt z-depth-0"
                    alt="avatar image" height="45" width="45">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/settings"><i class="fas fa-cog"></i></a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  </header>  