<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
    {{template "nav.html"}}
    <div class="pl-3 pt-2 textcolmob justify-content-center wipfooter d-flex align-items-center deskhide">
        <p class="deskhide">Scan a QR code:</p>
    </div>

    <span class="align-items-center justify-content-center">
    <div style="width: 250px" id="reader"></div>
    </span>

  {{template "mobnav.html"}}








  
    {{template "scripts.html"}}
    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>
    
    <!-- QR CODE SCANNER BEGIN-->
    <script>

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });
            
    function onScanSuccess(qrCodeMessage) {
        // handle on success condition with the decoded message
        html5QrcodeScanner.clear();
        // ^ this will stop the scanner (video feed) and clear the scan area.
    }

    function onScanError(errorMessage) {
    // handle on error condition, with error message
    }

    html5QrcodeScanner.render(onScanSuccess, onScanError);


    </script>
    <!-- QR CODE SCANNER END-->
</body>
{{template "footer.html"}}