<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
    {{template "nav.html"}}

    <div class="pl-3 pt-4 textcol justify-content-center wipfooter d-flex align-items-center mobhide">
        <p class="mobhide">The tour can only be undertaken on mobile.</p>
    </div>
    <!--The div for the map to be-->
    <div class="justify-content-center deskhide pt-0" id="map2"></div>
    <hr class="justify-content-center hr pt-0 deskhide" style="width: 85%;">
    <div class="scandes pl-3 pt-2 h-100 textcolmob justify-content-center wipfooter align-items-center deskhide">
        <p class="deskhide descriptiontitle">How to take a Tour.:</p>
        <p class="deskhide description">Select the tour and travel to the location of the tour (directions given)</p>
        <p class="deskhide description" style="color: red;">*If you receive an error, check your location settings on your device</p>
    </div>
    <hr class="justify-content-center hr pt-0 deskhide" style="width: 85%;">
    <div class="h-100"></div>
    
    {{template "mobnav.html"}}



    {{template "scripts.html"}}
    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>

    <!--Generate the map for the page using the Google My Maps JavaScript API-->
    <script>
        let map;
        let time;

        const getPositionError = code => {
            switch (code) {
                case 1:
                return 'Permission denied, you may have to enable geolocation in your device settings.';
                case 2:
                return 'Position unavailable.';
                case 3:
                return 'Timeout reached.';
            }
        }

      


        const getCurrentPosition = ({ onSuccess, onError = () => { } }) => {
        if ('geolocation' in navigator === false) {
            return onError(new Error('Sorry, Geolocation is not supported by your browser.'));
        }

        return navigator.geolocation.getCurrentPosition(onSuccess, onError);
        };

        const trackLocation = ({ onSuccess, onError = () => { } }) => {
        if ('geolocation' in navigator === false) {
            return onError(new Error('Sorry, Geolocation is not supported by your browser.'));
        }

        return navigator.geolocation.watchPosition(onSuccess, onError, {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        });
        };

        function initMap() {

            const locationMarker = {
            url: "/static/img/marker.svg",
            scaledSize: new google.maps.Size(34, 34),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 34),
            }

            const tree = {
                url: "/static/img/tree1.svg",
                scaledSize: new google.maps.Size(54, 54),        
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 54),
            }

            var map = new google.maps.Map(document.getElementById('map2'), {
                center: { lat: 55.909329, lng: -3.319491 },
                zoom: 15,
            });

            const initial = { lat: 55.909329, lng: -3.319491 };
            var marker = new google.maps.Marker({ 
                map, 
                position: initial, 
                icon: locationMarker});

            getCurrentPosition({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                marker.setPosition({ lat, lng });
                map.panTo({ lat, lng });
                },
                onError: err =>
                alert(`Error: ${getPositionErrorMessage(err.code) || err.message}`)
            });

            trackLocation({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                    marker.setPosition({ lat, lng });
                    map.panTo({ lat, lng });
                    $.ajax({
                        url: "https://www.thetrailapp.com/location",
                        data:{'lat':lat,"long":long}
                        });
                },
                onError: err =>
                alert(`Error: ${getPositionErrorMessage(err.code) || err.message}`)
            });
        
        }
    </script>

    <!-- This link performs the API call using my key and the result of the initialisation function above-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALqdMIQIIw-bxjUWGb1LNwXgB8sb4saeA&callback=initMap"
        type="text/javascript"></script>

    <!-- Dynamic height adjustments to get 100% height for map-->
    <script>
        var body = document.body, html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight) - 190;
        document.getElementById('map2').style.height = height + 'px';
    </script>

</body>
{{template "footer.html"}}