<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body writeit-autostart>

   <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js', {scope: '/'})
        .then(function(registration) {
            console.log('Registration successful, scope is:', registration.scope);
        })
        .catch(function(error) {
            console.log('Service worker registration failed, error:', error);
        });
    }
    </script>

    {{template "nav.html"}}

    <button class="add-button btn btn-success p-1">Add to home screen</button>

    <div class="mobhide">
        <!--GREETING AND FACT DESKTOP-->
        <div class="pt-4 textcol justify-content-center d-flex align-items-center mobhide">
            <p writeit-animate id="greeting" class="mobhide"></p>
        </div>

        <div class="container fact justify-content-center d-flex align-items-center mobhide pt-0 pb-0">
            <i class="fas fa-search ftitle pr-3"> </i>
            <p id="fact" class="mobhide animated fadeIn pl-2"></p>
        </div>
        <hr class="justify-content-center hr" style="width: 65%;">
        <!--/GREETING AND FACT DESKTOP-->

        <canvas id="chart-options-example"></canvas>
    </div>

    <div class="deskhide">
        <!--GREETING AND FACT MOBILE-->
        <div class="pl-3 pt-2 pb-0 mb-0 textcolmob d-flex align-items-center deskhide">
            <p writeit-animate id="greeting2" class="deskhide"></p>
        </div>
        <div class="pl-3 pt-0 mt-0 pb-0 factmob align-items-center deskhide">
            <i class="fas fa-search ftitle pr-2"> </i>
            <p id="fact2" class="deskhide animated fadeIn"></p>
        </div>
        <hr class="justify-content-center hr pt-0" style="width: 85%;">
        <!--/GREETING AND FACT MOBILE-->
        <div class="col-16">
            <canvas id="chart-options-example"></canvas>
        </div>
    </div>








    {{template "mobnav.html"}}
    <script>
        var myDate = new Date();
        var hrs = myDate.getHours();

        var greet;

        if (hrs < 12)
            greet = 'Good Morning';
        else if (hrs >= 12 && hrs <= 16)
            greet = 'Good Afternoon';
        else if (hrs >= 16 && hrs <= 24)
            greet = 'Good Evening';

        document.getElementById('greeting').innerHTML = greet;
        document.getElementById('greeting2').innerHTML = greet;
    </script>
    {{template "scripts.html"}}


    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>

    <script>
        function fact() {
            var json = (function () {
                var json = null;
                $.ajax({
                    'async': false,
                    'global': false,
                    'url': "/static/facts.json",
                    'dataType': "json",
                    'success': function (data) {
                        json = data;
                    }
                });
                return json;
            })();
            let randomIndex = Math.floor(Math.random() * 25)
            document.getElementById('fact').innerHTML = json[randomIndex];
            document.getElementById('fact2').innerHTML = json[randomIndex];
        }

        fact();
        setInterval(function () {
            fact()
        }, 20000)
    </script>
    <script>
    let deferredPrompt;

    const addBtn = document.querySelector('.add-button');
    addBtn.style.display = 'none';

    window.addEventListener('beforeinstallprompt', (e) => {
    // Prevent Chrome 67 and earlier from automatically showing the prompt
    e.preventDefault();
    // Stash the event so it can be triggered later.
    deferredPrompt = e;
    // Update UI to notify the user they can add to home screen
    addBtn.style.display = 'block';
  
    addBtn.addEventListener('click', (e) => {
      // hide our user interface that shows our A2HS button
      addBtn.style.display = 'none';
      // Show the prompt
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the A2HS prompt');
          } else {
            console.log('User dismissed the A2HS prompt');
          }
          deferredPrompt = null;
        });
    });
  });

  // Data
const dataChartOptionsExample = {
  type: 'bar',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May', 'June'],
    datasets: [
      {
        label: 'Traffic',
        data: [30, 15, 62, 65, 61, 6],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
        ],
        borderWidth: 1,
      },
    ],
  },
};

// Options
const optionsChartOptionsExample = {
  options: {
    scales: {
      xAxes: [
        {
          ticks: {
            fontColor: '#4285F4',
          },
        },
      ],
      yAxes: [
        {
          ticks: {
            fontColor: '#f44242',
          },
        },
      ],
    },
  },
};

new mdb.Chart(
  document.getElementById('chart-options-example'),
  dataChartOptionsExample,
  optionsChartOptionsExample
);
    </script>
</body>
{{template "footer.html"}}