<!-- Vertically centered scrollable modal -->
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tree_title">(#number) TreeName</h5>
          <button
            type="button"
            class="fas-fa-cross"
            onclick="closeModal();">
        </button>
        </div>
        <div class="modal-body">
          <h6>Age:</h6> <p id="tree_age">5 years</p>
          <h6>Height:</h6> <p id="tree_age">40ft</p>
          <h6>Origin:</h6> <p id="tree_age">Japan</p>
          <hr class="justify-content-center hr pt-0 deskhide" style="width: 85%;">
          <p id="tree_info">Tree info</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal();">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  