<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
    <!-- Imports the desktop navbar template -->
    {{template "nav.html"}}

    <!--The div for the map to be-->
    <div class="justify-content-center" id="map"></div>
 
    <!-- Imports the modal for tree description -->
    {{template "infomodal.html"}}

    <!-- Imports the mobile navbar template -->
    {{template "mobnav.html"}}




    {{template "scripts.html"}}
    <!-- Updates the title of the page based on what page the user is on via variable passed in from main.go-->
    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <!--Generate the map for the page using the Google My Maps JavaScript API-->
    <script>
        let map;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 55.942567, lng: -3.216411 },
                zoom: 12,
            });

            var tree = {
            url: "/static/img/tree1.svg",
            scaledSize: new google.maps.Size(54, 54),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 54),
             }

           
            map.data.loadGeoJson('/static/TreesEdi.geojson', null, function (features) {

            var markers = features.map(function (feature) {
                var g = feature.getGeometry();
                var marker = new google.maps.Marker({ 
                    'position': g.get(0),
                    'icon': tree
                });
                return marker;
            });

            google.maps.event.addListener(marker, 'click', function() {
                alert('marker ' + feature.getGeometry('Id') + ' clicked');
            });
         
            var markerCluster = new MarkerClusterer(map, markers,{ 
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            });


            map.data.setStyle(function (feature) {
            return { icon: tree, visible: false };
            });

            map.data.addListener('click', function (event) {
                $('#myModal').modal('show');
            });
        }
    </script>
    <!-- This link performs the API call using my key and the result of the initialisation function above-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALqdMIQIIw-bxjUWGb1LNwXgB8sb4saeA&callback=initMap"
        type="text/javascript"></script>

    <!-- Dynamic height adjustments to get 100% height for map-->
    <script>
        var body = document.body, html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight) - 100;
        document.getElementById('map').style.height = height + 'px';
    </script>
</body>
{{template "footer.html"}}